@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin: 0% !important;
}
#searchBar {
    /*margin-left: 550px;*/
    margin-top:.5%
}
#table_filter{
    /*width: 500px;*/
}

#categoryBtn {
    color: black;
    margin-right: 20px;
}

.dropdown-menu.show{
    margin-left: 435px;
}
.category-label {
    font-size: 12px;

}

#searchBtn {
    /*margin-right: 400px;*/
    color: black;
}

#signOut {
    
    /*margin-right: 200px;*/
}

.row {
    color: white;
} 


a {
    /*color: white !important;*/
    font-size: 18px;
    
}

input[type="text"]
{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.category_filters{
    color: black;
}


#titleBox {
    border-left-style: ridge;
    border-left-color: #CEEAF7;
    border-left-width: 5px;
    border-top-style: ridge;
    border-top-color: #CEEAF7;
    border-top-width: 5px;
}

th {
    width: 200px;
}

#Artist {
    font-family: Asap, sans-serif !important;
    font-size: 36px !important;
    text-align: center;
    border-left-style: ridge;
    border-left-color: #CEEAF7;
    border-left-width: 5px;
}

#Venues {
    font-family: Asap, sans-serif;
    font-size: 36px !important;
    text-align: center;
    border-left-style: ridge;
    border-left-color: #CEEAF7;
    border-left-width: 5px;
    border-top-style: ridge;
    border-top-color: #CEEAF7;
    border-top-width: 5px;

  
}

li {
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}
.footer {
    position: absolute;
    right: 0;        
    bottom: 0;
    left: 0;
    text-align: center;
    border-top-style: ridge;
    border-top-color: #CEEAF7;
    border-top-width: 5px;
}

body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
}

#font {
    font-size: 24px;
    text-align: center;
}

#deleteArtist {
    font-family: Asap, sans-serif !important;
    font-size: 18px;
    text-align: right;
    color: black;
}

.runButtonArtist, .runButtonVenue { cursor: pointer; }

.runButtonArtist:hover, .runButtonVenue:hover { text-decoration: underline; }

.artist-item, .venue-item { opacity: 0.5;}

.artist-item:hover, .venue-item:hover { opacity: 1;}

@media screen and (max-width: 783px) 
{
	#hsj
	{
		transform: translateY(50px);
	}

	nav
	{
		height: 100px !important;
	}

	nav input
	{
		display: block !important;
		width: 100%;
		left: 0px !important;
		transform: translateX(0px) !important;
	}

	#searchBtn
	{
		top: 57px !important;
		left: auto !important;
		right: 50px;
	}

	#categoryBtn
	{
		top: 57px !important;
		left: auto !important;
		right: 200px;
		transform: translateX(0px) !important;
	}

	#signOut
	{
		top: 59px !important;
	}

}

@media screen and (max-width: 524px) 
{
	#hsj
	{
		float: auto;
		width: 100%;
		text-align: center;
		transform: translateY(100px);
	}

	nav
	{
		height: 150px !important;
	}

	nav input
	{
		display: block !important;
		width: 100%;
		left: 0px !important;
		transform: translateX(0px) !important;
	}

	#searchBtn
	{
		top: 57px !important;
		left: 100px !important;
		right: auto;
		transform: translateX(0px) !important;
	}

	#categoryBtn
	{
		top: 57px !important;
		left: 0px !important;
		right: auto;
		transform: translateX(0px) !important;
	}

	#signOut
	{
		top: 59px !important;
	}

}

